@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&display=swap');
:root {
  --background: #212121;
  --text: #ffffff;
  --text-secondary: #5d5d5d;
  --text-tertiary: #b4b4b4;
  --primary: #303030;
  --secondary: #171717;
  --red: #fd0032;
  --accent: #f9e619;
  --blue: #1e90ff;
  --voilet: #d6b4fc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
.body {
  min-height: 100vh;
  background-color: var(--background);
}
.logo {
  width: auto;
  height: 50px;
  margin-bottom: 15px;
}
.chip-btn {
  color: var(--text);
  font-size: 0.875rem;
  padding: 6px 16px;
  border-radius: 100px;
  border: 1px solid hsl(0deg 0% 100% / 15%);
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: border 300ms;
}
.chip-btn:hover {
  color: var(--text);
  border: 1px solid var(--text);
}
.chip-btn:active {
  color: var(--text);
  border: 1px solid var(--text);
}
.navbar-nav {
  justify-content: end;
}
.quote {
  font-family: 'Playfair Display', serif; 
  font-size: 2rem; 
  font-weight: 500;
  text-align: center;
  color: var(--text);
  margin: 20px auto;
  padding: 10px;
  max-width: 80%;
}
.ul-container {
  padding-bottom: 58px;
}
.form-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to top, var(--background) 50%, transparent 100%);
  padding: 25px 0px 10px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}
.todo-form {
  width: 61%;
  background-color: var(--primary);
  border-radius: 50px;
  padding: 4px 8px;
  position: relative;
}
#todo-input {
  box-sizing: border-box;
  width: 88%;
  background-color: transparent;
  padding: 12px 8px;
  font: inherit;
  color: var(--text);
  border: none;
}
#todo-input::placeholder {
  color: var(--text-tertiary);
  font-size: 1.1em;
}
#todo-input:focus {
  outline: none;
}
#add-button {
  background-color: var(--text);
  border: none;
  border-radius: 50px;
  padding: 3px;
  position: absolute;
  top: 9px;
  right: 10px;
}
.todo {
  background-color: var(--text-secondary);
  margin-bottom: 10px;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.todo-list {
  padding: 0;
  width: 70%;
}
.todo-text {
  padding: 15px;
  color: var(--text);
  padding-right: 0;
  flex-grow: 1;
  transition: 200ms ease;
  cursor: pointer;
}
.delete-button {
  padding: 5px;
  background-color: var(--text);
  border: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease;
}
.delete-button:hover {
  svg {
    fill: var(--red);
  }
}
.delete-button:active {
  svg {
    fill: var(--red);
  }
}
.custom-checkbox {
  border: 2px solid var(--accent);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ .custom-checkbox {
  border: 2px solid var(--blue);
  background-color: var(--blue);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--text);
}
input[type="checkbox"]:checked ~ .todo-text {
  color: var(--text-tertiary);
  text-decoration: line-through;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 991px) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15) !important;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .offcanvas-body {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }
  .navbar-nav {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .todo-form {
    width: 95%;
    padding: 8px 0px;
  }
  #todo-input {
    padding: 10px 12px;
  }
  #add-button {
    top: 11px;
  }
  .todo-list {
    padding: 0;
    width: 95%;
  }
}
@media (max-width: 768px) {
  .quote {
    font-size: 1.5rem; 
    max-width: 90%;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 12pt;
  }
  .quote {
    font-size: 1.2rem;
  }
}
